<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <style>
    #us_network, #china_network {
      width: 100%;
      height: 650px;
      border: 1px solid #444444;
      background-color: #222222;
    }
  </style>

  <script type="text/javascript" src="resources/vis.js"></script>
  <script type="text/javascript" src="resources/data.js"></script>
  <script type="text/javascript" src="resources/main.js"></script>
  <link href="/resources/vis-network.min.css" rel="stylesheet" type="text/css"/>

</head>
<body onload="drawNetworks()">
  <div id="header">
    <nav>
      <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
    </nav>
  </div><!-- end header -->

  <div class="wrapper">

    <section>
      <div id="title">
        <h1>Social Login Visualizer</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <hr>
        <span class="credits left">Project maintained by <a href="https://github.com/michael99man">Michael Man</a> and <a href="https://github.com/kjfeng">Kevin Feng</a></span>
        <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
      </div>
      <h2>About Me</h2>
      <p>This website contains two graphs, one for the top 200 websites in the United States and one for the top 100 sites in China. Each node on the graph represents a website –– its size is inversely related to its ranking, such that more popular sites will have larger nodes. Furthermore, nodes closer to the center are also more popular. Each edge connects a website to a <b>social login</b> provider that it supports as an authentication method. </p>
      <p>Make sure to hover over nodes to highlight its edges and also try zooming in for more detail. If a node is highlighted and no edges can be seen, it indicates the website's lack of social logins.</p> <br>

      <h2>US Top 200 Websites</h2>
      <div id="us_network"></div>
      <br>
      <h2> Some Statistics Regarding US Social Logins </h2>
      <p><strong>83.5%</strong> (167/200) of the top US sites use logins. <br> <br>
        <strong>50.30%</strong> (84/167) of the sites that use logins have social logins available. <br> <br>
        The most popular social login is <strong>Facebook</strong>. 78.57% (66/84) of the sites that support social logins use it. <br> <br>
        Followed by <strong>Google</strong>. 69.05% (58/84) of the sites that support social logins use it. <br> <br>
        Followed by <strong>Twitter</strong>. 14.29% (12/84) of the sites that support social logins use it. <br><br>
        We sent two surveys in April 2019 to Princeton University students through a few residential college email chains, asking them to rank their login options in order of preference (with options of Email, Facebook, Google, Twitter, LinkedIn, and Yahoo). You can view the surveys (and their results) <a href="https://docs.google.com/a/princeton.edu/forms/d/15VhgthDoJDZ3kg1a_sVi_MQqG2IGBWgL6BGzvZHx0sI/edit?usp=sharing">here</a> and <a href="https://docs.google.com/a/princeton.edu/forms/d/1c5vyQJxPEFXAe5r0sgFYok-TPuYNO5wyDYZV05h6BGE/edit?usp=sharing">here</a> <br> <br>

        Amazon logins are used almost exclusively for Amazon-owned services. <br><br>
      </p>

      <h2>China Top 100 Websites</h2><br>
      <div id="china_network"></div><br>
      <h2> A Guide to the Chinese Websites </h2>
        <p>
          <strong>Baidu</strong> is a search engine that also offers news and entertainment products, in addition to supporting maps and navigation, cloud storage, and educational tools, among others.<br><br>
          <strong>Douban</strong> is a social network that allows registered users to create and share content related to film, books, music, recent events, and activities in Chinese cities.<br><br>
          <strong>QQ</strong> is an instant messaging service that also supports online games, shopping, microblogging, music, and group call software.<br><br>
          <strong>Renren</strong> is a profile-based social networking platform popular among college students. <br><br>
          <strong>Taobao</strong> is a popular e-commerce website that also acts as a consumer-to-consumer retail platform. It is China's largest online marketplace. <br><br>
          <strong>WeChat</strong> is a multi-purpose messaging, social media, and payments app. It is also widely used for voice and video calls. With plugins, it can support a variety of other features such as ride-sharing and hotel booking. <br><br>
          <strong>Weibo</strong> is a microblogging platform that allows users to publicly upload pictures and videos for instant sharing. Other features include commenting with text, pictures and videos, and multimedia instant messaging service.
        </p>
        <br>
      <h2> Some Statistics Regarding Chinese Social Logins </h2>
        <p><strong>75.0%</strong> of the top 100 Chinese sites use logins. <br> <br>
        <strong>78.67%</strong> (59/75) of top sites that use logins have social logins available. <br> <br>
        <strong>83.05%</strong> (49/59) of top sites that offer social logins use Chinese social networks. <p><strong>79.66%</strong> (47/59) offer logins using exclusively Chinese social networks. <br> <br>
        <strong>12.0%</strong> (9/75) of top sites are either censored and somehow still made its way to the top 100 list, or use social logins offered by censored social networks (Facebook, Google, Twitter, etc.) <br> <br>
        <strong>16%</strong> of the top 100 sites use logins but not social logins. 3 of these sites are large social login providers (QQ, Baidu, Weibo), 5 are US-based platforms that use their own accounts (Microsoft + Bing, Apple, Github, StackOverflow), and the other 8 do not have social logins for undetermined reasons.<br> <br>
        The most popular social login is <strong>QQ</strong>. 66.10% (39/59) of all sites that support social logins use it and 79.59% (39/49) of sites that use uncensored social logins use it. <br> <br>
        Followed by <strong>Weibo</strong>, at 62.71% (37/59) and 75.51% (37/49), respectively. <br> <br>
        Followed by <strong>WeChat</strong> at 54.24% (32/59) and 65.31% (32/49), respectively.<br><br>
        Tencent Holdings Co. is the Chinese conglomerate that owns both QQ and WeChat. 40 of the top 100 websites use either QQ or WeChat (or both), meaning that Tencent reaches 67.79% (40/59) of top sites that use social logins and 81.63% (40/49) of sites that use uncensored social logins.
      </p><br><br>

      <h2>Other Interesting Info About Chinese Logins</h2>
      <p>Logging in with phone number is a very popular method: 68.0% (51/75) of sites that use logins support it. <br><br>
        QR codes are a popular method of logging in: 39.29% (22/75) of sites that use logins allow authentification via scanning a QR code. <br><br>
        Unlike US social login buttons, which are usually quite large, colourful, and labelled with the name of the social network, Chinese social logins buttons are for the most part very small graphics of the social network's logo (the penguin for QQ, speech bubble for weChat, etc.). <br><br>
      </p>

    </section>
  </div>
</body>
</html>
